* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #e72e2e;
    background-color: black;
}

h1,
p,
button,
input {
    font-family: "Inter", sans-serif;
    border-color: #2ea2ab;
}

ion-icon {
    --ionicon-stroke-width: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    color: #014242;
}

.calculator {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 0.5px solid #084b4f;
    border-radius: 6px;
    color: #02080a;
    text-align: right;
}

#display input {
    font-family: "Inter", sans-serif;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    width: 100%;
    padding: 12px 8px;
    font-size: 18px;
    background-color: #23c2cd;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #6d99b4;
    scale: 1.05;
    transition: background-color 0.2s ease-out;
}

button:active {
    scale: 0.9;
    transition: all 0.2s ease-out;
}

.operator {
    background-color: #ee4f69f1;
    color: white;
}

.operator:hover {
    background-color: #e93468;
}

.operation {
    background-color: #d9dbdd;
    color:  #333333;
}

.operation:hover {
    background-color: #c2c5c8;
}

.backspace {
    grid-column: span 2;
}

.equal {
    grid-column: span 2;
    background-color: #e24f68;
    color: rgb(255, 255, 255);
}

.equal:hover {
    background-color: #d63a57;
}

.calculator-animation {
    animation: slideIn 0.4s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}