
body{
   background-color: rgba(103, 135, 6, 0.886);
    font-family: 'Poppins', sans-serif;
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 5px;
    border-radius: 1cm;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(183, 49, 12);
    outline: none;
    font-size: 19px;
    border-radius: 0.8cm;

 }
 button{
    width: 60px;
    height: 41px;
    background-color: rgb(211, 64, 20);
    color: white;
    border: none;
    cursor: pointer;
    
    outline: none;
    border-radius: 1cm;
    font-size: 19px;
    
 }
 .text ul{
    position: relative;
    background-color: rgb(4, 75, 85);
    color: white;
    font-size: 20px;
    padding: 7px;
    padding-bottom: 1px;
    text-align: left;
    border-radius: 1cm;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }